## Import Library yg dibutuhkan

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

#tambahkan library sesuai kebutuhan

In [ ]:
data = pd.read_csv('/content/activity_km_07_01.csv')

In [ ]:
data

      PH cahaya  ... tinggi air                                  aksi
0    6.5    Ada  ...        622  Hidupkan Lampu dan Pompa nutrisi TDS
1    5.7    Ada  ...        557  Hidupkan Lampu dan Pompa nutrisi TDS
2    6.0    Ada  ...        491  Hidupkan Lampu dan Pompa nutrisi TDS
3    6.5    Ada  ...      12000               Tidak melakukan apa-apa
4    6.2    NaN  ...        444               Tidak melakukan apa-apa
..   ...    ...  ...        ...                                   ...
611  4.6    Ada  ...         47                        Hidupkan Lampu
612  2.1    Ada  ...         18  Hidupkan Lampu dan Pompa nutrisi TDS
613  3.2    Ada  ...         19                        Hidupkan Lampu
614  1.4    Ada  ...          3                        Hidupkan Lampu
615  5.0    Ada  ...         19                        Hidupkan Lampu

[616 rows x 7 columns]

In [ ]:
data.columns

Index(['PH', 'cahaya', 'intensitas air', 'suhu', 'PPM', 'tinggi air', 'aksi'], dtype='object')

In [ ]:
data.shape[0]

616

In [ ]:
data.dtypes

PH                float64
cahaya             object
intensitas air     object
suhu              float64
PPM               float64
tinggi air          int64
aksi               object
dtype: object

## 1. Mengganti nama kolom yang menggunakan spasi

In [ ]:
#isi code
data.columns = ['PH', 'cahaya', 'intensitas_air', 'suhu', 'PPM', 'tinggi_air', 'aksi']

In [ ]:
data.head()

    PH cahaya  ... tinggi_air                                  aksi
0  6.5    Ada  ...        622  Hidupkan Lampu dan Pompa nutrisi TDS
1  5.7    Ada  ...        557  Hidupkan Lampu dan Pompa nutrisi TDS
2  6.0    Ada  ...        491  Hidupkan Lampu dan Pompa nutrisi TDS
3  6.5    Ada  ...      12000               Tidak melakukan apa-apa
4  6.2    NaN  ...        444               Tidak melakukan apa-apa

[5 rows x 7 columns]

In [ ]:
data['cahaya'].unique()

array(['Ada', nan, 'Tidak ada'], dtype=object)

## 2. Mengganti data kategorikal menjadi bentuk numerical (Clue : Labelencoder tidak bekerja ketika ada missing value, gunakan metode lain)

Bagian ini ada yang tau nggak ???
mengubah kategorikal tpi ada missing valuenya :(

In [ ]:
#Isi Code
# Untuk data cahaya
def getNumber(str):
    if str=="Ada":
        return 1
    elif str =="Tidak ada":
        return 2
    else:
      return None

data['cahaya'] = data['cahaya'].apply(getNumber)
data['cahaya'].unique()


# Bgini aja ?????

array([ 1., nan,  2.])

In [ ]:
# Untuk kolom intensitas_air
def getNumberIntensity(str):
  if str=='Tinggi':
    return 1
  elif str=='Cukup':
    return 2
  elif str=='Rendah':
    return 3
  else:
    return 4

data['intensitas_air']= data['intensitas_air'].apply(getNumberIntensity)
data['intensitas_air'].unique()

array([1, 2, 3, 4])

In [ ]:
print(data['intensitas_air'].unique())
print(data['aksi'].unique())

['Tinggi' 'Cukup' 'Rendah' 'Rendah sekali']
['Hidupkan Lampu dan Pompa nutrisi TDS' 'Tidak melakukan apa-apa'
 'Hidupkan Lampu' 'Hidupkan Pompa nutrisi TDS']

In [ ]:
# Untuk kolom aksi
def getNumberAksi(str):
  if str=='Hidupkan Lampu dan Pompa nutrisi TDS':
    return 1
  elif str=='Tidak melakukan apa-apa':
    return 2
  elif str=='Hidupkan Lampu':
    return 3
  else:
    return 4

data['aksi']= data['aksi'].apply(getNumberAksi)
data['aksi'].unique()

array([1, 2, 3, 4])

## 3. Handle Missing Value

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616 entries, 0 to 615
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PH              600 non-null    float64
 1   cahaya          590 non-null    object
 2   intensitas air  616 non-null    object
 3   suhu            589 non-null    float64
 4   PPM             611 non-null    float64
 5   tinggi air      616 non-null    int64
 6   aksi            616 non-null    object
dtypes: float64(3), int64(1), object(3)
memory usage: 33.8+ KB

In [ ]:
#Isi Code
missing_data = pd.DataFrame({'total_missing': data.isnull().sum(), 'perc_missing': (data.isnull().sum()/616)*100})
missing_data

                total_missing  perc_missing
PH                         16      2.597403
cahaya                     26      4.220779
intensitas_air              0      0.000000
suhu                       27      4.383117
PPM                         5      0.811688
tinggi_air                  0      0.000000
aksi                        0      0.000000

Btw teman-teman yang saya ganti pake mean cuma data numerikal saja, kalau yang kategorikal tadi gak bisa pake mean

In [ ]:
# Untuk kolom ph, suhu, dan PPM
data['PH'] = data['PH'].fillna(data['PH'].mean())
data['suhu'] = data['suhu'].fillna(data['suhu'].mean())
data['PPM'] = data['PPM'].fillna(data['PPM'].mean())

In [ ]:
data.isnull().sum()

PH                 0
cahaya            26
intensitas_air     0
suhu               0
PPM                0
tinggi_air         0
aksi               0
dtype: int64

In [ ]:
# Untuk kolom cahaya
modus = data['cahaya'].mode()[0]
modus

1.0

In [ ]:
data['cahaya'] = data['cahaya'].fillna(modus)

data.isnull().sum()

PH                0
cahaya            0
intensitas_air    0
suhu              0
PPM               0
tinggi_air        0
aksi              0
dtype: int64

# Okey teman-teman... missing valuenya sudah beres.. sekarang lanjut ke mendeteksi outlier yah :)

## 4. Detect outliers dan handling (bisa dihapus atau diganti nilainya dengan mean/modus/median)

In [ ]:
#Isi Code

## 5. Pisahkan data feature dengan label

In [ ]:
#Isi Code

## 6. Check Imbalanced Dataset, jika imbalanced, gunakan smote

In [ ]:
#pip install imbalanced-learn

In [ ]:
#Isi Code

## 7. Visualisasikan Data sehingga kita bisa mengetahui sebuah informasi

In [ ]:
#Isi Code

## 8. Lakukan Normalization menggunakan MinMaxScaler atau Standardization menggunakan StandarScaler

In [ ]:
#Isi Kode

## 9. Buat model ANN

In [ ]:
#Isi Code

## 10. Build Model KNN